{% extends 'base.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row px-xl-5">

            <div class="col-12">

                <nav class="breadcrumb bg-light mb-30">

                    <a
                            class="breadcrumb-item text-dark"
                            href="{% url 'home_app:home' %}"
                    >
                        Home
                    </a>

                    <span class="breadcrumb-item active">
                    Forgot Password
                </span>

                </nav>

            </div>

        </div>

    </div>


    <div class="container-fluid">

        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4">

        <span class="bg-secondary pr-3">
            Forgot Password
        </span>

        </h2>


        <div class="px-xl-5">

            <div class="mb-5 contact-us">

                <div class="contact-form bg-light p-30">

                    <p class="mb-4">
                        شماره تلفن حساب خود را وارد کنید تا کد تایید برای شما ارسال شود.
                    </p>


                    <form
                            method="POST"
                            action="{% url 'accounts_app:forgot_password' %}"
                    >

                        {% csrf_token %}


                        {% for error in form.non_field_errors %}

                            <p class="alert alert-danger">
                                {{ error }}
                            </p>

                        {% endfor %}


                        <div class="control-group">

                            {{ form.phone }}

                            {% for error in form.phone.errors %}

                                <p class="alert alert-danger mt-2">
                                    {{ error }}
                                </p>

                            {% endfor %}

                        </div>

                        <br/>


                        <button
                                type="submit"
                                class="btn btn-primary py-2 px-4"
                        >
                            Send Verification Code
                        </button>


                        <a
                                href="{% url 'accounts_app:login' %}"
                                class="btn btn-secondary py-2 px-4 ml-2"
                        >
                            Back to Login
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

