{% extends 'base.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row px-xl-5">

            <div class="col-12">

                <nav class="breadcrumb bg-light mb-30">

                    <a
                            class="breadcrumb-item text-dark"
                            href="{% url 'home_app:home' %}"
                    >
                        Home
                    </a>

                    <span class="breadcrumb-item active">
                    Reset Password
                </span>

                </nav>

            </div>

        </div>

    </div>


    <div class="container-fluid">

        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4">

        <span class="bg-secondary pr-3">
            Reset Password
        </span>

        </h2>


        <div class="px-xl-5">

            <div class="mb-5 contact-us">

                <div class="contact-form bg-light p-30">

                    <p class="mb-4">
                        کد تایید صحیح است.
                        اکنون رمز عبور جدید خود را وارد کنید.
                    </p>


                    <form
                            method="POST"
                            action="{% url 'accounts_app:reset_password' %}"
                    >

                        {% csrf_token %}


                        {% for error in form.non_field_errors %}

                            <p class="alert alert-danger">
                                {{ error }}
                            </p>

                        {% endfor %}


                        <!-- New Password -->

                        <div class="control-group">

                            {{ form.password1 }}

                            {% for error in form.password1.errors %}

                                <p class="alert alert-danger mt-2">
                                    {{ error }}
                                </p>

                            {% endfor %}

                        </div>

                        <br/>


                        <!-- Confirm Password -->

                        <div class="control-group">

                            {{ form.password2 }}

                            {% for error in form.password2.errors %}

                                <p class="alert alert-danger mt-2">
                                    {{ error }}
                                </p>

                            {% endfor %}

                        </div>

                        <br/>


                        <button
                                type="submit"
                                class="btn btn-primary py-2 px-4"
                        >
                            Reset Password
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

